<h1><%= @cat.name %></h1>
<ul>
  <li>Owner: <%= @cat.owner.username if @cat.owner %></li>
  <li>House: <%= @cat.house.address if @cat.house %></li>
  <li>Siblings: <%= @cat.house.cats if @cat.house %></li>
</ul>
<a href="<%= edit_cat_url(@cat) %>">Edit Cat</a>
<form action="<%= cat_url(@cat) %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Cat">
</form>
<a href="<%= cats_url %>">Cats</a>
