<!DOCTYPE html>
<html>
  <head>
  </head>

  <body>
    <% if flash[:errors] %>
      <ul>
        <% flash[:errors].each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    <% end %>
    
    <% if logged_in? %>
      <h1>User: <%= current_user.username %></h1>
      <form action="<%= sessions_url %>" method="POST">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Logout">
      </form>
    <% else %>
      <a href="<%= new_users_url %>">Sign Up</a>
      <a href="<%= new_sessions_url %>">Log In</a>
    <% end %>

    <%= yield %>
  </body>
</html>
