<h1><%= @user.username %></h1>
<ul>
  <li>ID: <%= @user.id %></li>
  <li>Address: <%= @user.house.address if @user.house %></li>
  <li>Cats: <%= @user.cats if @user.cats %></li>
  <li>House Cats: <%= @user.house.cats if @user.house %></li>
</ul>